<div ng-controller="AdminController">
  <leaflet lf-center="center"  height="480px" width="100%"></leaflet>
  <!-- eisagwgh sta8mou -->
  <md-content class="md-padding">
      <h2><label><center> Insert Station </center></label></h2>
      <form name="insertStation">
        <div layout layout-sm="column">
            <md-input-container flex>
                <label>Latitude</label>
                <input ng-model="center.lat">
            </md-input-container>
            <md-input-container flex>
                <label>Longitude</label>
                <input ng-model="center.lng">
            </md-input-container>
        </div>
          <div layout layout-sm="column"></div>
          <div layout layout-sm="column">
              <md-input-container flex>
                  <label>Station Name</label>
                  <input ng-model="center.station">
              </md-input-container>
              <md-input-container flex>
                  <label>Station Passname</label>
                  <input ng-model="center.passname">
              </md-input-container>
              <md-button  ng-click="saveStation()" class="md-warn">
              Save station
              </md-button>
            </div>
      </form>
  </md-content>
</div>

    <h2><label><center> Upload Data </center></label></h2>
<div ng-controller="UploadController">
      <md-content class="md-padding">
       <md-input-container flex>
         <label> Passname </label>
         <input ng-model="station_name" required/>
       </md-input-container>
       <md-input-container flex>
         <label> Είδος Ρύπου </label>
         <input ng-model="rupos" required/>
       </md-input-container>
        <lf-ng-md-file-input lf-files="files" lf-api="api01" ng-disabled="disabled01"></lf-ng-md-file-input>
        <md-button class="md-raised" ng-click="submit()">Upload</md-button>
      </md-content>
</div>


  <div ng-controller="TableController">
    <h2><label><center> Stations </center></label></h2>
    <div class="table-responsive-vertical md-whiteframe-z1">
        <table id="table" class="table table-hover table-bordered">
            <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Passname</th>
                <th>Lat</th>
                <th>Long</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="station in stations">
                <td data-title="id">{{$index + 1}}</td>
                <td data-title="name">{{station.name}}</td>
                <td data-title="passname">{{station.passname}}</td>
                <td data-title="lat">{{station.lat}}</td>
                <td data-title="long">{{station.long}}</td>
                    <md-progress-linear class="table-progress {{data.class}}"
                                        md-mode="determinate"
                                        value={{data.progress}}>
                    </md-progress-linear>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
  </div>

  <div ng-controller="TableUsersController">
    <h2><label><center> Users </center></label></h2>
    <div class="table-responsive-vertical md-whiteframe-z1">
        <table id="table" class="table table-hover table-bordered">
            <thead>
            <tr>
                <th>#</th>
                <th>Mail</th>
                <th>stations_request</th>
                <th>rupos_request</th>
                <th>range_request</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="user in users">
                <td data-title="ID">{{$index + 1}}</td>
                <td data-title="mail">{{user.mail}}</td>
                <td data-title="Status">{{user.stations_request}}</td>
                <td data-title="Progress">{{user.rupos_request}}</td>
                <td data-title="Progress">{{user.range_request}}</td>
                    <md-progress-linear class="table-progress {{data.class}}"
                                        md-mode="determinate"
                                        value={{data.progress}}>
                    </md-progress-linear>
            </tr>
            </tbody>
        </table>
    </div>
  </div>
