  <md-content>
      <md-input-container>
          <label>Email</label>
          <input ng-model="vm.user.email" type="email">
      </md-input-container>
      <md-input-container>
          <label>Password</label>
          <input type="password" ng-model="vm.user.password">
      </md-input-container>
      <md-button  ng-click="vm.register()" layout="row" layout-align="center center" class="md-toolbar-tools md-warn">
        Register
      </md-button>
      {{ vm.ui.errors }}
  </md-content>
