<div ng-controller="UserController" ng-init="getItems()">
  <div class="table-responsive"  ng-init="getItems()">
      <table id="table" class="table table-hover table-bordered">
          <thead>
          <tr>
              <th>User:</th>
              <th>Apikey</th>
              <th>Stations requests</th>
              <th>Rupos requests</th>
              <th>Range requests</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="data in vm.tableData track by $index">
              <td data-title="User">{{$index + 1}}</td>
              <td data-title="Apikey">{{data.issue}}</td>
              <td data-title="Stations requests">{{data.status}}</td>
              <td data-title="Rupos requests">
              <td data-title="Range requests">
                  <md-progress-linear class="table-progress {{data.class}}"
                                      md-mode="determinate"
                                      value={{data.progress}}>
                  </md-progress-linear>
              </td>
          </tr>
          </tbody>
      </table>
  </div>
</div>
