<div class="row alerts-container" data-ng-controller="AlertsCtrl" data-ng-show="alerts.length">
  <div class="col-xs-12">

  </div>
</div>


<div class="row">
	<div class="col-lg-12">
    <form action = "/stationinput/" method="post">
      Station Name:<br>
      <input type="text" name="name">
      <br>
      Station skataPasswordID:<br>
      <input type="text" name="stationid">
      <br><br>
      Stations Location:<br>

      Lattitude <input type="number" name="lat" > &emsp;&emsp;
      Longtitude <input type="number" name="long" > <br><br>

      <input type="submit" value="Save"/>
    </form>
  </div>
	<div class="col-lg-6">
	</div>
</div>

<div class="row">
  <div style="height: 400px;" class="col-lg-6">
    <ui-gmap-google-map center='map.center' zoom='map.zoom'></ui-gmap-google-map>
	</div>
</div>
